
<div class="col-sm-14" style="background-color:lightcoral;">
    <h2 class="page-header">@ViewBag.Title <small> A Nossa Equipa: </small></h2>
</div>

    <div class="row">
        <div class="col-sm-8">
            <img class="img-responsive" src="~/Imags/equipa/img1.jpg" alt="">
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/Imags/equipa/img8.jpg">
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/Imags/equipa/img9.jpg"style="height:204px; width:500px">
        </div>
    </div>
