@model IEnumerable<InspiringIPT.Models.Cursos>

@{
    ViewBag.Title = "Inspiring IPTomar";
}

<!-- Header Carousel -->
<header id="entrada" class="carousel slide">
    @if (!User.Identity.IsAuthenticated) // TempData["LogSuccess"] != null
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header modal-header-success">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        <li data-target="#entrada" data-slide-to="0" class="active"></li>
        <li data-target="#entrada" data-slide-to="1"></li>
        <li data-target="#entrada" data-slide-to="2"></li>
        <li data-target="#entrada" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <br />
    <div class="carousel-inner" role="listbox" />
    <div class="item active">
        <img class="img-responsive img-full" src="~/Imags/banner/banner_7_.jpg" alt="Chania" />
        <div class="carousel-caption">
        </div>
    </div>

    <div class="item">
        <img class="img-responsive img-full"  src="~/Imags/banner/banner_4.jpg" alt="Chania" />
        <div class="carousel-caption">
        </div>
    </div>

    <div class="item">
        <img class="img-responsive img-full"  src="~/Imags/banner/banner_5.jpg" alt="Chania" />
        <div class="carousel-caption">
        </div>
    </div>

    <div class="item">
        <img class="img-responsive img-full" src="~/Imags/banner/banner_1.jpg" alt="Chania" />
        <div class="carousel-caption">
        </div>
    </div>

    <div class="item">
        <img class="img-responsive img-full" src="~/Imags/banner/banner_6.jpg" alt="Chania" />
        <div class="carousel-caption">
        </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#entrada" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#entrada" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</header>
<br />
<div class="row">
    @* inicio slide desporto*@
    <div class="col-md-4">

        <div class="panel-body">
            <div id="cidade" class="carousel slide" data-ride="carousel" style="width:330px;height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#cidade" data-slide-to="0" class="active"></li>
                    <li data-target="#cidade" data-slide-to="1"></li>
                    <li data-target="#cidade" data-slide-to="2"></li>
                    <li data-target="#cidade" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/desporto/desportos.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/desporto/desporto2.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/desporto/desporto3.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/desporto/desporto4.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#cidade" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#cidade" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="http://www.iptomarrugby.ipt.pt/?menu=Rugby&lang=pt" style="margin:0px auto;text-align:center;display:block; width:330px;" class="btn btn-danger pull-center"> Desporto</a>
        </div>

    </div>
    @* fim slide desporto*@

    @* inicio slide cultura*@
    <div class="col-md-4">

        <div class="panel-body">
            <div id="praias" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#praias" data-slide-to="0" class="active"></li>
                    <li data-target="#praias" data-slide-to="1"></li>
                    <li data-target="#praias" data-slide-to="2"></li>
                    <li data-target="#praias" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/cultura/cultura4.jpg" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/cultura/cultura5.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/cultura/cultura2.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/cultura/cultura1.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#praias" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#praias" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="http://www.tunatemplaria.com/" style="margin:0px auto; text-align:center; display:block; width:330px;" class="btn btn-success">Cultura</a>
        </div>

    </div>
    @* fim slide cultura*@

    @* inicio slide Associativismo*@
    <div class="col-md-4">

        <div class="panel-body">
            <div id="tur" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#tur" data-slide-to="0" class="active"></li>
                    <li data-target="#tur" data-slide-to="1"></li>
                    <li data-target="#tur" data-slide-to="2"></li>
                    <li data-target="#tur" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/associativismo/Associativismo4.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/associativismo/Associativismo3.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/associativismo/Associativismo2.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#tur" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#tur" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="https://www.facebook.com/uae.ipt/" style="margin:0px auto; text-align:center; display:block; width:330px;" class="btn btn-info">Associativismo</a>
        </div>

    </div>
    @* fim slide Associativismo*@

    @* GRUPO 2.****************************************************************************************@

    @* inicio slide estudar*@
    <div class="col-md-4">

        <div class="panel-body">
            <div id="cidade" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#cidade" data-slide-to="0" class="active"></li>
                    <li data-target="#cidade" data-slide-to="1"></li>
                    <li data-target="#cidade" data-slide-to="2"></li>
                    <li data-target="#cidade" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/estudar/estudar_4_.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/estudar/estudar1.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/estudar/estudar2.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/estudar/estudar_3.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#cidade" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#cidade" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="http://www.cda.ipt.pt/?pagina=servicos&seccao=Sala_de_leitura" style="margin:0px auto; text-align:center; display:block; width:330px;" class="btn btn-warning">Estudar</a>
        </div>

    </div>
    @* fim slide estudar*@

    @* inicio slide Alimentação*@
    <div class="col-md-4">

        <div class="panel-body">
            <div id="praias" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#praias" data-slide-to="0" class="active"></li>
                    <li data-target="#praias" data-slide-to="1"></li>
                    <li data-target="#praias" data-slide-to="2"></li>
                    <li data-target="#praias" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/alimentacao/alimentacao3.jpg" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/alimentacao/alimentacao1.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/alimentacao/alimentacao4.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#praias" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#praias" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="http://portal2.ipt.pt/pt/ipt/servicos_de_acao_social/" style="margin:0px auto; text-align:center; display:block; width:330px;" class="btn btn-primary">Alimentação</a>
        </div>

    </div>
    @* fim slide Alimentação*@

    @* inicio slide Alojamento*@
    <div class="col-md-4">


        <div class="panel-body">
            <div id="tur" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#tur" data-slide-to="0" class="active"></li>
                    <li data-target="#tur" data-slide-to="1"></li>
                    <li data-target="#tur" data-slide-to="2"></li>
                    <li data-target="#tur" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Imags/alojamento/alojamento2.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/alojamento/alojamento1.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/alojamento/alojamento3.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Imags/alojamento/alojamento4.jpg" alt="Chania" />
                        <div class="carousel-caption">
                        </div>
                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#tur" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#tur" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><br />
            <a href="http://portal2.ipt.pt/pt/ipt/servicos_de_acao_social/apoios_indiretos_alojamento/" style="margin:0px auto; text-align:center; display:block; width:330px;" class="btn btn-danger">Alojamento</a>
        </div>

    </div>
    @* fim slide Alojamento*@
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
