
<div class="row">
 
        <div class="col-sm-14" style="background-color:orange;">
            <h2 class="page-header">@ViewBag.Title <small>Sobre Nós:</small></h2>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="background-color:lightgreen;width:770px;">
                <p>
                A Inspiring IPTomar é uma equipa de Estudantes Colaboradores do IPT, que trabalha
                primordialmente com as escolas secundárias, onde proporcionamos suporte ao sistema
                educativo nacional que chegam directamente aos alunos, falando a sua linguagem e
                ajudando-os na contrução do seu projeto de vida e de carreira com consciência das
                suas capacidades e da realidade à sua volta e convidando esses mesmos alunos a virem 
                estudar no Instituto Politécnico de Tomar.
            </p>
            <p>Nesta plataforma o aluno pode efectuar a sua pré-inscrição, preechendo o formulário
               disponibilizado e submeter a sua inscrição.
            </p>
            </div>
            <div class="col-sm-4" style="width:350px;height:150px;">
                <img class="img-responsive" src="~/Imags/logotipo.jpg" alt="10px">
            </div>
        </div>
    </div>
    
        <div class="col-sm-14" style="background-color:deepskyblue;">
            <h2 class="page-header">@ViewBag.Title <small> Divulgações nas Escolas: </small></h2>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="~/Imags/estudar/estudar2.jpg" alt="10px">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="~/Imags/equipa/img6.jpg" alt="10px">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="~/Imags/equipa/img3.jpg" alt="10px">
            </div>
        </div>
    </div>


</div>