@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title ="Ora Bolasss..Desculpa! :(";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header text-danger">@ViewBag.Title</h2>
    </div>
    <div class="col-md-6" style="text-align:center">
        @{
            if (String.IsNullOrEmpty(ViewBag.errorMessage))
            {
                <h2 class="text-danger">Estamos a trabalhar para a resolução deste problema. Obrigado!</h2>

                <div class="col-sm-4" style="width:350px;height:150px;">
                    <img class="img-responsive" src="~/Imags/manutencao.jpg" alt="10px">
                </div>
            }
            else
            {
                <h2 class="text-danger">@ViewBag.errorMessage</h2>
            }
        }
    </div>
</div>



