@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Terminar Seção!";
}

<hgroup>
    <h1 class="text-danger">Seção Terminada </h1>
    <h2 class="text-danger">Terminou a seção com exito!</h2>
</hgroup>
