@model InspiringIPT.Models.TipoCurso

@{
    ViewBag.Title = "Detalhes do Tipo Curso";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoID }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
